//defining paths to programmes, containeres/enviroenmnts  
params {
    program = '/data/scratch/DGE/DUDGE/MOPOPGEN/mlubiatowska/pvacseq/annotations_programmes/vep_plugin'
    vepcache = '/data/scratch/DGE/DUDGE/MOPOPGEN/mlubiatowska/pvacseq/annotations_programmes/vep_cache'
    vepenv = '/home/mlubiatowska/.conda/envs/bio-perl-vep' // why not providing a .yml file representing the environment?

    picard = 'picard/3.3.0-Java-17'
    gatk = 'GATK/4.4.0.0-GCCcore-12.3.0-Java-17'
    bcftools = 'BCFtools/1.11'
    mamba = 'Mamba/23.1.0-0'

    whatshap = '/data/scratch/DMP/DUDMP/MYEGRP/ahyde01/lumos/singularity/whatshap_2.3.sif'
    pvacseq = '/data/scratch/shared/SINGULARITY-DOWNLOAD/tools/.singularity/pvactools_latest.sif'

    expression_geneid_column = "Geneid"

    cpus = 8
}

//programs to use if running with pvacfuse or pvacsplice 
/*
params.longgf = '/home/mlubiatowska/.conda/envs/longgf_env'
params.regtools = '/data/scratch/DGE/DUDGE/MOPOPGEN/mlubiatowska/pvacseq/annotations_programmes/regtools/build'
params.samtools = 'SAMtools/1.11'
params.scipy = 'SciPy-bundle/2023.11-gfbf-2023b'
params.gtf = '/data/reference-data/iGenomes/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf'
*/

workDir = "${params.outdir}/work"
outputDir = "${params.outdir}"
workflow.output.mode = 'copy'

// Perform work directory cleanup after a successful run?
cleanup = true

timeline {
  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline.timeline.html"
  overwrite = true
}

report {
  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline.report.html"
  overwrite = true
}

trace {
  enabled   = true
  file      = "${params.outdir ?: 'results'}/pipeline.trace.txt"
  fields    = 'task_id,process,tag,status,exit,submit,start,complete,duration,realtime,%cpu,peak_rss,peak_vmem,rss,vmem'
  overwrite = true
}


/*
    * -------------------------------------------------
    *  Nextflow nf-core config file for ICR alma HPC
    * -------------------------------------------------
    * Defines slurm process executor and singularity
    * settings.
    *
    */
params { // you wouldnt need to copy the institutional config file, you can simply load it when you run the pipeline via --profile singularity,icr_alma

    config_profile_description = "Nextflow nf-core profile for ICR alma HPC"
    config_profile_contact = "Rachel Alcraft (@rachelicr), Mira Sarkis (@msarkis-icr)"
    max_memory = 256.GB
    max_cpus = 30
    max_time = 5.d
}

process {
    queue="compute"
    executor = "slurm"
    time = 5.d
    shell = ['/bin/bash', '-euo', 'pipefail']
    maxRetries    = 3
    maxErrors     = '-1'
    clusterOptions = '--mem-per-cpu=8000'
    resourceLimits = [
        memory: 256.GB,
        cpus: 30,
        time: 5.d
    ]

}

conda.enabled   = true

process {
    withName:LongReadPreprocessing {
        module = 'Mamba/23.1.0-0'  // Load the mamba module
    }
}

process {
    withName:LongReadPhasing {
        container = params.whatshap // It's not recommended to pass containers as params. Hardcode them in each process
    }
    withName:PvacseqLongread {
        container = params.pvacseq
    }
}

/*
process {
    env.TMPDIR = "/data/scratch/DGE/DUDGE/MOPOPGEN/mlubiatowska/pvacseq/pvactools/tmp"
    env.SINGULARITYENV_TMPDIR = "/data/scratch/DGE/DUDGE/MOPOPGEN/mlubiatowska/pvacseq/pvactools/tmp"  
}
*/
// env.SINGULARITYENV_NXF_TASK_WORKDIR="/data/scratch/DGE/DUDGE/MOPOPGEN/mlubiatowska/pvacseq_nf/test_expression_run/wdir_tmp"

singularity {
    enabled = true
    runOptions = "--bind /mnt:/mnt --bind /data:/data"
    autoMounts = true
    pullTimeout = 2.h
    cacheDir = '/data/scratch/shared/SINGULARITY-DOWNLOAD/nextflow/.singularity'
}

